<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">
                        Esnapside es una empresa dedicada al desarrollo de soluciones tecnológicas a la medida que cumplan con altos estandares de calidad
                        a nivel internacional. Cuenta con un equipo especializado para cada sector y con experiencia en las últimas tecnologias
                        del mercado.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desarrollo de aplicaciones móviles</h4>
                    <p class="text-muted">Nuestro equipo desarrolla apps personalizadas para cada caso tanto para Android como iOS.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desarollo de aplicaciones web</h4>
                    <p class="text-muted">Automatiza y moderniza tu negocio con las últimas tecnologias web para aumentar la productividad y enfocarte en tus clientes.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Asesorias</h4>
                    <p class="text-muted">Si tienes un proyecto existente pero no sabes por donde empezar nuestro equipo de profesionales pone su experiencia a tu disposición para ti y tu equipo.</p>
                </div>
            </div>
            <!-- Row 2 -->
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Ayudamos a que tu negocio este en linea para llegar a cada vez más clientes y aumentar tus ventas sin necesidad de locaciones fisicas.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Portales web</h4>
                    <p class="text-muted">Creemos que cada negocio merece su espacio en la web ya sea para atraer clientes o publicar información importante de tu negocio.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Soporte y mantenimiento</h4>
                    <p class="text-muted">Olvidate de las molestas tareas de mantenimiento en tus soluciones tecnologicas.</p>
                </div>
            </div>
        </div>
    </section>